body {
    margin: 0px;
    background-color: rgb(206, 206, 206);
}

/* header */
header {
    background-image: linear-gradient(-45deg, #000, #26413c, #efe9e7);
    width: calc(100% - 2px);
    border: 1px solid black;
}

.name {
    font-family: 'Rye', cursive;
    font-size: 55px;
    color: #d8d8d8;
    text-align: center;
    margin-top: -20px;
    margin-bottom: -10px;
}

.logo{
    position: relative;
    opacity: 0.5;
}

.rellogo {
    position: relative;
    bottom: 20px;
    opacity: 0.75;
}

.rellogo1 {
    position: relative;
    bottom: 35px;
}

/* navBar */
nav {
    background-image: linear-gradient(45deg, rgb(116, 99, 99), #738f8a, #efe9e7);
    border-bottom: 7px solid orange;
    border-top: 7px solid orange;
}
.nav-container {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 85%;
    margin-bottom: 20px;
}

form {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.search {
    border-radius: 5px;
}

.links {
    padding: 20px;
}

.icon {
    width: 20px;
    height: 20px;
}

a {
    color: white;
    text-decoration: none;
}

.links:hover:not(.active) {
    background-color: #26413c;
}

.active {
    background-color: rgb(48, 48, 48);
}

/* main body content */

/* main content */
.content-container {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    margin-top: 5px;
    width: 100%;
    /* float: left; */
}

.main-container {
    display: flex;
    flex-flow: row wrap;
    /* width: 100%; */
}

.main-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 80%;
}

.home-content {
    flex: 1 1 100%;
}

.product-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    flex: 1 1 50%;
}

.main-heading {
    width: 100%;
    background-image: url(../pictures/old-wood-original-file.jpg);
    margin: 5px;
    height: 10vw;
    text-align: center;
    color: white;
    font-family: 'Pacifico', cursive;
    background-size: 100%;
    font-size: 4em;
}

.subsection {
    flex: 1 1 24%;
    border: 2px solid white;
    margin: 5px;
    padding: 30px;
    /* height: 25vw; */
    background-color: rgba(110, 110, 110, 0.616);
}

.sections {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 80%;
}


/* main content images */
.product {
    width: 100%;
    height: 100%;
    border: 2px solid white;
}

/* side bar content */
.side-bar {
    flex: 0 0 250px;
    background-color: rgba(110, 110, 110, 0.616);
    margin: 5px;
    border: 2px white solid;
}

.home {
    flex: 1 1 15%;
    margin-top:5px;
    background-color: rgba(110, 110, 110, 0.616);
    margin: 5px;
    border: 2px white solid;
}

.side-section {
    margin: 5px;
    padding: 5px 25px;
    border: 2px white solid;
    font-family: 'Pacifico', cursive;
}


.side-section:hover {
    padding: 15px;
}

/* contact section */
.contact {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   margin: auto;
   text-align: left;
}

.form {
    display: block;
    margin: 10px;
}

#message {
    width: calc(100% - 25px);
    height: 100px;
    margin-top: 10px;
}


.reason {
    padding-left: 10px;
}

.radio-styling {
    width: 30%;
    display: inline;
    text-align: center;
    margin-bottom: 10px;
}

.submit-button {
    margin: 10px;
}

/* footer */
footer {
    width: calc(100% - 22px);
    background-image: linear-gradient(-45deg, rgb(116, 99, 99), #738f8a, #efe9e7);
    border: 1px solid black;
    margin-top: 3px;
    text-align: center;
    font-size: 16px;
    font-family: 'Fanwood Text', serif;
    padding: 10px;
    line-height: 0.6em;
    clear: both;
}

